body{
    margin: 0;
    padding: 0;
    background-color: black;
    background-size: top 20%;
    background-image: url("dsc02296.jpg");
    background-size: cover;
  }
  #menu{
    margin: 0;
    padding: 0;
    margin-top: 2px;
    background-color: black;
  }
  #menu li{
    list-style: none;
    display: inline-block;
  }
  #menu li a{
    text-decoration: none;
    position: relative;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
    display: block;
    overflow: hidden;
    transition: 0.7s all;
    padding: 14px 30px;
    text-transform: uppercase;
  }
  #menu li a:before{
    content: '';
    width: 88px;
    position: absolute;
    border-bottom: 8px solid #c72;
    bottom: 0;
    right: 245px;
    transition: 0.7s all;
  }
  #menu li a:hover:before{
    right: 0;
  }

  