body{
    padding: 0;
    margin: 0;
  }
  .bottom{
    position: absolute;
    top: 98%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
  }
  .btn{
    display: inline-block;
    width: 30px;
    height: 30px;
    background:#ff000000);
    margin: 10px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #2F4F4F;
    overflow: hidden;
    position: relative;
  }
  .btn i{
    line-height: 30px;
    font-size: 26px;
    transition: 0.2s linear;
  }
  .btn:hover i{
    transform: scale(1.5);
    color: #c72;
  }
  .btn::before{
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #2F4F4F;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
  }
  .btn:hover::before{
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
  }
  @keyframes aaa {
    0%{
      left: -10%;
      top: 90%;
    }50%{
      left: 10%;
      top: -30%;
    }100%{
      top: -10%;
      left: -10%;
    }