body{font-family: 'Archivo Black', sans-serif;
    }
    body, html {height: 100%
    }
    body {
    background-image: url("dsc02296.jpg");
    background-color: #ffffff;
    min-height: 100%;
    background-position: center;
    background-size: cover;
    }
    h1, p {color: #ffffff;
        text-align: center;
    }
